* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  color:whitesmoke;
}

.top-wrapper {
  padding: 200px 0 100px 0;
  background-image: url(inspiring.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: red;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 90px;
  margin-top: 0px;
}

.header-left {
  float: left;
}
.header-left h1{
  color:wheat;
}
.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon{
  color:white;
  float:right;
  display:none;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}


.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: center;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.tim-wrapper {
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(35, 88, 99);
  text-align: center;
}

.headings {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
}

.headings h2 {
  font-weight: normal;
}

.tims {
  margin-bottom: 15px;
  display: flex;
}

.tim {
  flex: auto;
  width: 25%;
  border-radius: 10px;
  padding: 27px 25px 27px 25px;
  margin: 0 30px;
  box-shadow: 1px 2px 2px 1px rgba(255, 255, 255, 0.4);
  background-color: white;
}

.tim-icon img {
  margin-top: 10px;
  height: 100px;
}

.text-ctn {
  font-family: 'Gill Sans', 'Gill Sans MT', 'times new roman', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 5px auto;
  color:black;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
.footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.footer-links a:before {
  content: "|";
  font-weight: 300;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-links .link-1:before {
  content: none;
}
.copyright{
  color:black;
}
.copyright p{
  color:black;
}
.footer-newsletter{
  text-align: center;
}
footer {
  background-color:darkgray;
  padding-top: 10px;
  padding-bottom: 10px;
}
